body {
    background-color: #0e0b2c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
}

.circles {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(120px);
}

.circles .circle {
    position: absolute;
    width: 120%;
    height: 120%;
    animation: crecer-encoger 40s infinite;

}

.circles .circle1 {
    top: -60%;
    right: -60%;
}

.circles .circle2 {
    bottom: -55%;
    left: -55%;
}

@keyframes crecer-encoger {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.7);
    }
}


header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    background-color: rgba(112, 136, 254, 0.2);
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 30px;
    margin-bottom: 120px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.header__a {
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.header__a span {
    color: #E514B2;
}

.header-ico {
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.58);
    transition: transform 0.4s;
}

.header-ico:hover {
    transform: translateY(-5px);
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.header-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    transition: transform 0.4s;
}

.header-nav a:hover {
    transform: translateY(-5px);
}

.nav-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #E514B2;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
}

main {
    padding: 16px;
    z-index: 0;
}


.landing {
    display: grid;
    grid-template-columns: 60% 40%;
}

.landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}

.landing-text-subtitle {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.landing-text-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: -50px;
}

.landing-text-description {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 20px;
    color: #E514B2;
}

.landing-buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.landing-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    background-color: #E514B2;
    border-radius: 20px;
    margin-right: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
}

.landing-button:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.landing-button-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 178px;
    border: 2px solid #E514B2;
    border-radius: 20px;
    margin-right: 50px;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.landing-button-border:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.landing-img {
    width: 80%;
    height: 90%;
}

.landing-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border: #E514B2 8px solid;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.about-me-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 140px;
}

.about-me-container {
    display: grid;
    grid-template-columns: 55% 45%;
}

.about-me-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.about-me-img img {
    width: 80%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    border: #E514B2 8px solid;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.about-me-text-description {
    font-family: 'Cabin', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 20px;
}

.pdf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pdf-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
}

.pdf-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pdf-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 80px;
}

.pdf-img img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.pdf-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.pdf-text-description {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.pdf-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 180px;
    background-color: #E514B2;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 30px;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.skills-subtitle {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 28px;
    margin: 70px;
}

.skills-container-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
}

.skills-container-secondary {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 40, 103, 0.2);
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.skills-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.skills-card h3 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
}

.skills-card p {
    display: none;
}

.skills-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.projects-tittle {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 40px;
    margin-top: 50px;
}

.projects-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(70, 40, 103, 0.2);
    width: 35%;
    height: 400px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.projects-card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 230px;
}

.projects-card-img img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    object-position: center;
}

.projects-card h3 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
    color: white;
}

.projects-card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.projects-card p {
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.projects-card a {
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
}

.projects-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-contact-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.form-contacto-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form-contact-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form-contact-input input {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.form-contact-input textarea {
    width: 500px;
    height: 200px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    padding-left: 20px;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 18px;
}

.form-contact-input button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background-color: #E514B2;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 18px;
    cursor: pointer;
}

.form-contact-input button:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contact-title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.contact-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(70, 40, 103, 0.2);
    height: 100%;
    width: 120%;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
}

.contact-card:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: 0.5s;
}

.contact-card img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.contact-card h3 {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

.footer-nav a {
    text-decoration: none;
    color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    font-size: 18px;
    padding: 10px;
    transition: transform 0.4s;
}

.footer-nav a span {
    color: #E514B2;
}

.footer-nav a:hover {
    transform: translateY(-5px);
}

@media (max-width: 1750px) {

    .skills-container-main {
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 80px;
    }

    .skills-container-secondary {
        grid-template-columns: 3fr 3fr 3fr;
        grid-gap: 80px;
    }

    .skills-card {
        width: 350px;
    }

    .skills-card img {
        width: 300px;
        height: 300px;
    }

    .footer-nav {
        width: 50%;
    }
}

@media (max-width: 1600px) {

    .about-me-text {
        width: 90%;
    }

    .about-me-text-description {
        font-size: 26px;
    }

}

@media (max-width: 1400px) {

    .landing-text-title {
        font-size: 55px;
    }

    .landing-text-description {
        font-size: 55px;
    }

    .landing-text-subtitle {
        font-size: 22px;
    }

    .landing-text {
        margin-right: 17%;
    }

    .landing-img {
        width: 85%;
    }

    .landing-button {
        width: 150px;
        font-size: small;
    }

    .landing-button-border {
        width: 148px;
        font-size: small;
    }

    .pdf-img {
        width: 100%;
    }

    .skills-container-main {
        grid-gap: 40px;
    }

    .skills-container-secondary {
        grid-gap: 40px;
    }

    .skills-card {
        width: 300px;
    }

    .skills-card img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 1200px) {

    .landing-text {
        margin-right: 15%;
        margin-left: 0%;
    }

    .landing-text-title {
        font-size: 45px;
    }

    .landing-text-description {
        font-size: 45px;
    }

    .landing-text-subtitle {
        font-size: 20px;
    }

    .landing-img {
        width: 90%;
    }

    .landing-button {
        width: 130px;
    }

    .landing-button-border {
        width: 128px;
    }

    .about-me-text-description {
        font-size: 22px;
    }

    .about-me-text {
        padding-left: 30px;
        width: 90%;
    }

    .about-me-img {
        width: 100%;
    }

    .pdf-img {
        width: 100%;
    }

    .pdf-text-description {
        font-size: 23px;
    }

    .pdf-button {
        width: 150px;
    }

    .skills-card {
        width: 250px;
    }

    .skills-card img {
        width: 200px;
        height: 200px;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-card {
        width: fit-content;
    }

    .footer-nav {
        width: 80%;
        justify-content: space-around;
    }
}

@media (max-width: 1050px) {

    .about-me-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me-img {
        margin-right: 0px;
        width: 90%;
    }

    .about-me-text {
        width: 90%;
        padding-left: 0%;
    }

    .about-me-text-description {
        font-size: 22px;
        padding: 3% 10% 10%;
    }

    .landing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .landing-img {
        order: -1;
        width: 60%;
    }

    .landing-text {
        padding-left: 0%;
        align-items: center;
        margin-left: 0%;
        margin-top: 5%;
        margin-right: 0%;
    }

    .landing-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-left: 0%;
    }

    .landing-button {
        margin-right: 0px;
    }

    .landing-button-border {
        margin-right: 0px;
    }

    .landing-text-title {
        font-size: 45px;
    }

    .landing-text-description {
        font-size: 45px;
    }

    .landing-text-subtitle {
        font-size: 24px;
    }

    .skills-card {
        width: 200px;
    }

    .skills-card img {
        width: 150px;
        height: 150px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .projects-card {
        width: 400px;
    }
}

@media (max-width: 900px) {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-nav {
        width: 100%;
        justify-content: space-around;
    }

    .about-me-text-description {
        font-size: 20px;
        padding: 3% 15% 15%;
    }

    .about-me-text {
        width: 100%;
    }

    .about-me-img {
        width: 100%;
    }

    .pdf-img {
        width: 100%;
    }

    .pdf-text-description {
        font-size: 20px;
    }

    .pdf-button {
        width: 130px;
    }

    .skills-container-main {
        grid-template-columns: 3fr 3fr;
        grid-gap: 40px;
    }

    .skills-container-secondary {
        grid-template-columns: 3fr 3fr;
        grid-gap: 40px;
    }

    .skills-card {
        width: 270px;
    }

    .skills-card img {
        width: 220px;
        height: 220px;
    }

    .footer-nav {
        width: 90%;
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .about-me-text {
        width: 90%;
    }

    .about-me-img {
        width: 100%;
    }

    .landing-img {
        width: 80%;
    }

    .pdf-img {
        width: 100%;
    }

    .pdf-text-description {
        font-size: 16px;
    }

    .skills-card {
        width: 250px;
    }

    .skills-card img {
        width: 150px;
        height: 150px;
    }

    .form-contact-input input {
        width: 350px;
    }

    .form-contact-input textarea {
        width: 350px;
    }

    .footer-nav {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 550px) {

    .header-nav{
        margin-bottom: 10px;
    }

    .header-nav a {
        font-size: 17px;
    }

    .about-me-text-description {
        font-size: 18px;
    }

    .about-me-text {
        width: 90%;
    }

    .about-me-img {
        width: 85%;
    }

    .pdf-img {
        width: 100%;
    }

    .pdf-text-description {
        text-align: center;
        font-size: 14px;
    }

    .projects-card {
        width: 350px;
    }

    .footer-nav {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav a {
        font-size: larger;
        margin-bottom: 15px;
    }

    .skills-container-main {
        grid-gap: 20px;
    }

    .skills-card {
        width: 200px;
    }

    .skills-card img {
        width: 100px;
        height: 100px;
    }

    .landing-text-title {
        font-size: 40px;
    }

    .landing-text-description {
        font-size: 40px;
    }

    .landing-text-subtitle {
        font-size: 20px;
    }
}

@media (max-width: 420px) {
    .header-nav a {
        font-size: 12px;
    }
    .about-me-text-description {
        font-size: 16px;
    }

    .about-me-text {
        width: 90%;
    }

    .about-me-img {
        width: 80%;
    }

    .landing-img {
        width: 70%;
    }

    .landing-text-title {
        font-size: 35px;
    }

    .landing-text-description {
        font-size: 35px;
        margin-top: 20%;
    }

    .landing-text-subtitle {
        font-size: 16px;
    }

    .pdf-img {
        width: 85%;
    }

    .pdf-text {
        width: 70%;
    }

    .pdf-text-description {
        margin-top: 30px;
        font-size: 18px;
        text-align: center;
    }

    .skills-card {
        width: 180px;
    }

    .skills-card img {
        width: 100px;
        height: 100px;
    }

    .contact-card{
        width: 70%;
    }

    .contact-card h3{
        font-size: 18px;
    }
}